<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmguCV" version="3.1.0.1" targetFramework="net46" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net46" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net46" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net40" requireReinstallation="true" />
  <package id="VVVV.Core" version="35.0.0" targetFramework="net46" />
  <package id="VVVV.Nodes.Generic" version="35.0.0" targetFramework="net46" />
  <package id="VVVV.PluginInterfaces" version="35.0.0" targetFramework="net46" />
  <package id="VVVV.SlimDX" version="1.0.3" targetFramework="net45" />
  <package id="VVVV.System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net40" />
  <package id="VVVV.Utils" version="35.0.0" targetFramework="net46" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net46" />
</packages>